<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Workout</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
        <form action="/workout/leaderboard" action="GET">
            <div class="mb-3">
                <label for="date" class="form-label">Select Date:</label>
                <input type="date" id="date" name="date">
                <button class="btn btn-primary btn-sm">Find Records</button>
            </div>
        </form>
        <ul class="list-group list-group-horizontal list-group-item-info mt-4">
            <li class="list-group-item">User Name</li>
            <li class="list-group-item">Total</li>
        </ul>
        <% locals.workouts.forEach(element => { %>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><strong><%= element.createdBy.fullName %></strong></li>
            <li class="list-group-item"><%= (element.reps)*(element.weight) %></li>
        </ul>
        <% }) %>
    </div>


    <%- include('./partials/scripts') %>
</body>

</html>